node_modules/**
!src/node_modules
!src/node_modules/**
src/node_modules/asmcrypto.js/node_modules
src/node_modules/asmcrypto.js/node_modules/**
src/lib/node_modules
src/lib/node_modules/**
.DS_Store
npm-debug.log
cache
public
public/*
public/bundle.js*
public/filesystem.worker.js*
public/socket.worker.js*
public/spec.js*
dist
.vscode
.jshintrc
public*.zip
cyka.txt
/tmp
ssl/*.crt
ssl/*.key
local-config.json
build
yarn-error.log

*.john